.page-header {
  min-height: calc(12rem + #{$vertical-gap-medium-desktop * 2});
  padding: $vertical-gap-medium-desktop $section-side-padding;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-top: solid 0.4rem $yellow;

  // Tablet Size
  @include min-width-phone-breakpoint {
    min-height: calc(12rem + #{$vertical-gap-large-desktop * 2});
    padding: $vertical-gap-large-desktop $section-side-padding-tablet;
  }

  // Desktop Size
  @include min-width-desktop-breakpoint {
    min-height: 15rem;
    padding: $vertical-gap-large-desktop $section-side-padding-desktop;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 100%;
    z-index: -1;
    transform: rotate(-2deg);
    background: $green;
    opacity: 0.2;
  }

  @include min-width-phone-breakpoint {
    &.horizontal {
      display: flex;
      justify-content: center;
      text-align: left;

      > * {
        margin: 0 3rem 0 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &-link {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-family: $sans-serif-font;
    line-height: 100%;

    &:before {
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      display: block;
      position: absolute;
      top: calc(50% + 0.1rem);
      left: -1rem;
      border-top: solid 1px $green;
      border-right: solid 1px $green;
      transform: rotate(225deg) translate(50%, 50%);
    }
  }

  &-content > *:last-child {
    margin-bottom: 0;
  }

  .profile-picture {
    width: 9rem;
    height: 9rem;
    margin-bottom: $vertical-gap-small-desktop;
    padding: 0.2rem;
    display: inline-block;
    background: #fff;
    border: solid 0.2rem $yellow;
    border-radius: 50%;

    // Tablet Size
    @include min-width-phone-breakpoint {
      width: 12rem;
      height: 12rem;
      padding: 0.3rem;
      border-width: 0.3rem;
    }

    // Desktop Size
    @include min-width-desktop-breakpoint {
      width: 15rem;
      height: 15rem;
    }
  }

  .tag-line {
    margin-bottom: 0.8rem;
    font-family: $serif-font;
    font-weight: normal;
    font-size: 2.1rem;
    font-style: italic;
    text-transform: capitalize;
    line-height: 100%;
    white-space: nowrap;

    // Tablet Size
    @include min-width-phone-breakpoint {
      font-size: 2.4rem;
    }

    // Desktop Size
    @include min-width-desktop-breakpoint {
      font-size: 2.8rem;
    }
  }

  .author {
    margin: 0 0 1.8rem 0;
    font-family: $sans-serif-font;
    font-size: 1.6rem;
    text-transform: none;
    line-height: 2rem;
    color: $black;
  }

  &-about {
    max-width: 60rem;
    margin: 0 auto $vertical-gap-medium-desktop 0;
    font-size: 1.6rem;
    text-align: left;
    line-height: 2.4rem;

    // Tablet Size
    @include min-width-phone-breakpoint {
      font-size: 1.7rem;
      line-height: 2.6rem;
    }

    // Desktop Size
    @include min-width-desktop-breakpoint {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
  }
}
