<!-- Default: Stacked -->
<header class="page-header">
  <a class="page-header-link" href="/">Home</a>
  <div class="page-header-content">
    <img
      class="profile-picture"
      src="https://instagram.fyyc3-1.fna.fbcdn.net/vp/1bfda46fbd2b33d1eddcf28cfcd58017/5E70D1D1/t51.2885-19/s150x150/62157259_457883521705094_856557461123891200_n.jpg?_nc_ht=instagram.fyyc3-1.fna.fbcdn.net"
      alt="Ashley Schimpf"
      width="85"
      height="85"
    />
    <div class="page-header-content">
      <h1 class="font-green tag-line">
        Live <span class="font-brown">Life</span>
        <span class="font-yellow">Honestly</span>
      </h1>
      <h2 class="author">
        Ashley Schimpf<br />
        <span class="font-brown">Life Coach</span>
      </h2>
    </div>
  </div>
</header>
<hr />

<!-- Optional: Horizontal -->
<header class="page-header horizontal">
  <img
    class="profile-picture"
    src="https://instagram.fyyc3-1.fna.fbcdn.net/vp/1bfda46fbd2b33d1eddcf28cfcd58017/5E70D1D1/t51.2885-19/s150x150/62157259_457883521705094_856557461123891200_n.jpg?_nc_ht=instagram.fyyc3-1.fna.fbcdn.net"
    alt="Ashley Schimpf"
    width="85"
    height="85"
  />
  <div class="page-header-content">
    <p class="font-green tag-line">
      Live <span class="font-brown">Life</span>
      <span class="font-yellow">Honestly</span>
    </p>
    <h2 class="author">
      Ashley Schimpf<br />
      <span class="font-brown">Life Coach</span>
    </h2>
  </div>
</header>
