<!DOCTYPE html>
<html>

<head>
  <title>
    <!-- build:title -->
  </title>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
  <meta property="og:description" content="Etiam sed commodo neque, in lacinia turpis. Donec tincidunt bibendum sem eu eleifend. Pellentesque at urna iaculis, sagittis
      mi id, lacinia nulla.">
  <meta property="og:url" content="https://www.livelifehonestly.com/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Roboto:700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/Assets/Styles/global.css">
</head>

<body>
  <div id="page-wrapper">
    <main role="main">
      <section class="bg-white">

      </section>
    </main>
  </div>
  <script src="/Assets/Scripts/global.js"></script>
</body>

</html>
