<ul>
  <li aria-label="Hi Kitty" tabindex="0">Hello Kitty</li>
  <li aria-label="Hi puppy" tabindex="0">Hello Puppy</li>
</ul>

<div class="cp-carousel">
  <div class="cp-carousel-wrapper">
    <ul class="cp-carousel-slider">
      <li aria-label="hello 1" class="cp-carousel-slider-slide">
        <article>
          <a href="http://www.google.com">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>
              Ut consequat semper viverra nam libero justo. Ut consequat semper
              viverra nam libero justo. Ut consequat semper viverra nam libero
              justo. Ut consequat semper viverra nam libero justo. Ut consequat
              semper viverra nam libero justo. Ut consequat semper viverra nam
              libero justo.
            </p>
            <p class="time-stamp">
              <time datetime="2019-06-3">Jun 3rd, 2019</time>
              <span>| ~3 min read</span>
            </p>
          </a>
        </article>
      </li>
      <li aria-label="hello 2" role="listitem" class="cp-carousel-slider-slide">
        <article>
          <h3>Semper eget duis at tellus at urna condimentum mattis</h3>
          <p>
            Elementum tempus egestas sed sed. Interdum velit laoreet id donec
            ultrices tincidunt.
          </p>
          <p class="time-stamp">
            <time datetime="2019-05-19">May 19th, 2019</time>
            <span>| ~3 min read</span>
          </p>
        </article>
      </li>
      <li aria-label="hello 3" role="listitem" class="cp-carousel-slider-slide">
        <article>
          <h3>Nulla facilisi morbi tempus</h3>
          <p>Ante in nibh mauris cursus mattis molestie a iaculis at.</p>
          <p class="time-stamp">
            <time datetime="2019-05-5">May 5th, 2019</time>
            <span>| ~3 min read</span>
          </p>
        </article>
      </li>
      <li aria-label="hello 4" role="listitem" class="cp-carousel-slider-slide">
        <article>
          <h3>Non curabitur gravida</h3>
          <p>
            Tortor pretium viverra suspendisse potenti nullam ac tortor vitae
            purus.
          </p>
          <p class="time-stamp">
            <time datetime="2019-04-18">Apr 18th, 2019</time>
            <span>| ~3 min read</span>
          </p>
        </article>
      </li>
      <li aria-label="hello 5" role="listitem" class="cp-carousel-slider-slide">
        <article>
          <h3>Dictumst quisque sagittis purus sit</h3>
          <p>
            Nisl vel pretium lectus quam. Egestas congue quisque egestas diam in
            arcu cursus.
          </p>
          <p class="time-stamp">
            <time datetime="2019-03-25">Mar 25th, 2019</time>
            <span>| ~3 min read</span>
          </p>
        </article>
      </li>
    </ul>
  </div>

  <!-- <ul class="cp-carousel-nav" role="tablist">
        <li class="current" role="tab">
            <a href="#hero-gallery-item-0" id="hero-gallery-item-0-trigger" role="tab" tabindex="0" aria-controls="hero-gallery-item-0" aria-selected="true">
                <span class="a11y">Lorem ipsum dolor sit amet</span>
            </a>
        </li>
        <li class="current" role="tab">
            <a href="#hero-gallery-item-1" id="hero-gallery-item-1-trigger" role="tab" tabindex="0" aria-controls="hero-gallery-item-1" aria-selected="false">
                <span class="a11y">Semper eget duis at tellus at urna condimentum mattis</span>
            </a>
        </li>
        <li class="current half" role="tab">
            <a href="#hero-gallery-item-1" id="hero-gallery-item-1-trigger" role="tab" tabindex="0" aria-controls="hero-gallery-item-1" aria-selected="false">
                <span class="a11y">Nulla facilisi morbi tempus</span>
            </a>
        </li>
        <li role="tab">
            <a href="#hero-gallery-item-1" id="hero-gallery-item-1-trigger" role="tab" tabindex="0" aria-controls="hero-gallery-item-1" aria-selected="false">
                <span class="a11y">Non curabitur gravida</span>
            </a>
        </li>
        <li role="tab">
            <a href="#hero-gallery-item-1" id="hero-gallery-item-1-trigger" role="tab" tabindex="0" aria-controls="hero-gallery-item-1" aria-selected="false">
                <span class="a11y">Dictumst quisque sagittis purus sit</span>
            </a>
        </li>
    </ul> -->

  <button aria-label="Previous Article" class="cp-carousel-prev">
    Previous Article
  </button>
  <button aria-label="Next Article" class="cp-carousel-next">
    Next Article
  </button>
  <div aria-live="polite" class="a11y"></div>
</div>
