<!DOCTYPE html>
<html>

<head>
  <title>Template Boiler Plate Example</title>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
  <meta property="og:description" content="Etiam sed commodo neque, in lacinia turpis. Donec tincidunt bibendum sem eu eleifend. Pellentesque at urna iaculis, sagittis
      mi id, lacinia nulla.">
  <meta property="og:url" content="https://www.livelifehonestly.com/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
  <!-- partial:../../components/boilerplate/example.html -->
  <!-- partial -->
</body>

</html>
