  <form class="boilerplate-calculator">
    <fieldset>
      <input type="number" class="firstNumber" name="firstNumber" placeholder="First num" />
      <select class="operation">
        <option value='add'>Add</option>
        <option value='divide'>Divide</option>
        <option value='subtract'>Subtract</option>
        <option value='multiply'>Multiply</option>
      </select>
      <input type="number" class="secondNumber" name="secondNumber" placeholder="Second num" />
      <input type="submit" class="submit" value="Calculate" name="calculate" />
    </fieldset>
    <p>Equation:
      <span class="answer"></span>
    </p>
  </form>
  