/*-----
  MOBILE/SHARED STYLES FIRST
-----*/

//Default hidden state
.cp-trim-paragraph {
  .cp-trim-paragraph-ellipsis:before {
    content: "...";
  }
  .cp-trim-paragraph-extra {
    display: none;
  }
}

//Show State
.cp-trim-paragraph.show {
  .cp-trim-paragraph-ellipsis {
    display: none;
  }
  .cp-trim-paragraph-extra {
    display: inline;
  }
}
