<p class="cp-trim-paragraph">Fusce mattis dapibus diam, non facilisis lectus porttitor a. Etiam suscipit lectus non risus sagittis lacinia. Curabitur
  venenatis elit ac odio lacinia, eu posuere urna gravida. Mauris pulvinar maximus ligula at aliquam. Pellentesque facilisis
  nisl ac massa condimentum, et laoreet libero rutrum. Aenean et consequat eros. Nam euismod urna sit amet est euismod, ac
  ultrices lacus tincidunt. Sed odio turpis, auctor eget orci eu, fringilla molestie erat. Aliquam euismod eget sapien ac
  gravida. Donec pharetra elit ligula, at feugiat ex interdum et. Phasellus non mi ullamcorper lacus finibus hendrerit ut
  a dui. Fusce mattis eros eu sapien pulvinar, at rhoncus ligula pharetra. Vestibulum vehicula turpis id molestie mollis.
  Vivamus sit amet tempor velit. Aenean in velit lectus. Morbi quis ligula tellus.</p>
