/*-----
  MOBILE/SHARED STYLES FIRST
-----*/

body {
  @include serif-font-regular;
  font-size: $font-size-body-mobile;
  color: $black;
  background: #ebebeb;
}

#page-wrapper {
  width: 100%;
  max-width: $desktop-width;
  margin: 0 auto;
  padding-bottom: $vertical-gap-medium;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

/*-----
  Phone Breakpoint: MIN
-----*/
@include min-width-phone-breakpoint {
  body {
    font-size: $font-size-body-desktop;
  }
}
