<!DOCTYPE html>
<html>
  <head>
    <title>
      <!-- build:title -->
    </title>
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    />
    <meta
      property="og:description"
      content="Etiam sed commodo neque, in lacinia turpis. Donec tincidunt bibendum sem eu eleifend. Pellentesque at urna iaculis, sagittis
      mi id, lacinia nulla."
    />
    <meta property="og:url" content="https://www.livelifehonestly.com/" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Roboto:700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../../styles/global.css" />
  </head>

  <body>
    <div id="page-wrapper">
      <!-- partial:../../components/header/example.html -->
      <!-- partial -->
      <main role="main">
        <section class="bg-white">
          <p class="text-center time-stamp">
            <time datetime="2019-06-03">June 3rd, 2019</time> | ~3 minute read
          </p>
          <h1 class="text-center">HOW DOES COACHING WORK?</h1>
          <p>
            Your coach will ask you questions, deep, thought-provoking
            questions. At the end of a session, you should feel a shift from
            where you started, you may be inspired and so excited for the next
            steps, and you may be tired!
          </p>
          <blockquote class="pull-quote">
            A coach will often ask the questions that we don’t think to ask our
            selves. <cite>- Jane Doe</cite>
          </blockquote>
          <h2>COACHING WITH ME</h2>
          <ul>
            <li>
              I am moments away from achieving my International Coaching
              Federation (ICF) accreditation.
            </li>
            <li>
              I have studied with Erickson International, specializing in a
              solution-focused practice. Ericksoian teaching is based off of the
              practices from Milton Erickson, an American psychiatrist.
            </li>
            <li>
              Neuro-linguistic programming (NLP) approach. Boiled down, it means
              that we are working to balance your behaviours, your words and way
              of thinking, to help you be the best you.
            </li>
          </ul>
          <img src="//via.placeholder.com/1400x600" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <aside aria-labelledby="carouselheading">
            <h2 id="carouselheading">MORE THOUGHTS</h2>
            <!-- partial:../../components/carousel/example.html -->
            <!-- partial -->
          </aside>
          <!-- partial:../../components/connect/example.html -->
          <!-- partial -->
        </section>
      </main>
    </div>
    <script src="../../scripts/global.js"></script>
  </body>
</html>
