.shadow {
  width: 100%;
  height: auto;
  display: block;
  position: relative;

  &-box {
    width: 97%;
    height: 100%;
    background: $green;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 1.5%;
    // transform: skew(0deg, -3deg);
    transform-origin: center;
    opacity: 0.2;
  }
}
